.App{
 text-align: center;

}
.result {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
}
.result p {
  color: #000000;
  border: 1px solid rgba(255, 255, 255, 0.801);
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}
.result button {
  padding: 0.5rem 1rem;
  color: #c70000a9;
  cursor: pointer;
  background: burlywood;
  border: none;
}
.result button.copied {
  background: #000000;
  color: white;
}